{% load static %}
{% load i18n %}

<tr id="customer_{{ customer.id }}">
    <td scope="row" class="align-middle text-gray-666">
        {{ forloop.counter }}
    </td>
    <td class="align-middle">
        {{ customer.name }}
    </td>
    <td class="align-middle prod-state">
        <span class="font-weight-600 text-gray-666">
            <i class="fas fa-envelope my-2 mr-2 text-blue"></i>
            {{ customer.email }}
        </span>
    </td>
    <td class="align-middle text-center td-buttons">
        <a class="btn-edit-blue mr-1" title="{% trans 'update'|title %}" role="button"
            onclick="CreateAndUpdateCustomer('{% url "customers:customer_update" customer.id %}');"
            href="javascript:void(0);"
            data-toggle="modal" data-target="#update_customer">
            <i class="fas fa-edit"></i></a>
        <a class="btn-trash-red mr-1" title="{% trans 'delete'|title %}" role="button"
            onclick="DeleteCustomer('{% url "customers:customer_delete" customer.id %}');"
            href="javascript:void(0);"
            data-toggle="modal" data-target="#delete_customer">
            <i class="fa fa-trash"></i></a>
    </td>
</tr>