{% load static %}
{% load i18n %}

{% if object %}
    {% trans 'update order'|title as modal_title %}
    {% url 'orders:order_update' object.id as url_view %}
{% else %}
    {% trans 'add order'|title as modal_title %}
    {% url 'orders:order_create' as url_view %}
{% endif %}

<form action="{{ url_view }}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-gray-666">{{ modal_title }}</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-5 pt-2 text-gray-666">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="text-gray-666 font-weight-bold col-12">{{ form.title.label }}</label>
                        <div class="col-12">
                            {{ form.title }}
                            <div class="text-danger">
                                {{ form.title.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="text-gray-666 font-weight-bold col-12">{{ form.customer.label }}</label>
                        <div class="col-12">
                            {{ form.customer }}
                            <div class="text-danger">
                                {{ form.customer.errors }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 text-right my-2">
                <button type="button" class="btn btn-secondary text-uppercase mr-3" data-dismiss="modal">
                    {% trans 'cancel'|title %}
                    <i class="fa fa-chevron-left float-left mr-2 mt-1"></i>
                </button>
                <button class="btn btn-save-blue text-uppercase" type="submit"
                    name="{% if object %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}">
                    {% if object %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}
                    <i class="fa fa-save float-left mr-2 mt-1"></i>
                </button>
            </div>

        </div>
    </div>
</form>