{% extends 'orders/orders_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Orders' %}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' with active='orders by customer'  %}
{% endblock %}

{% block content %}
    {% url 'orders:order_list' as url_list %}

    <div class="container-fluid mb-5">

        <div class="container-fluid border-top-1px-gray" style="margin-top: -1px;">

            <div class="row pt-5 pb-4">
               <div class=" col-12 col-sm-6 col-md-6 col-lg-5 pl-0 search-bar">
                    <form method="get">
                        {{ form.as_p }}
                    </form>
                </div>
            </div>

            <div class="row bg-white" role="tabpanel">
                <div class="col-lg-12 table-responsive px-0">
                    <table class="table table-hover">
                        <thead>
                            <tr class="font-weight-500 text-gray-666 text-capitalize">
                                <th scope="col" class="align-middle border-top-0 border-left pr-0 text-center">{% trans 'Creation Date' %}</th>
                                <th scope="col" class="align-middle border-top-0 border-left pr-0 text-center">{% trans 'Order ID' %}</th>
                                <th scope="col" class="align-middle border-top-0 border-left pr-0 text-center">{% trans 'Total' %}</th>
                                <th scope="col" class="align-middle border-top-0 border-left pr-0 text-center">{% trans 'Title' %}</th>
                                <th scope="col" class="align-middle border-top-0 border-left pr-0 ">{% trans 'Products' %}</th>
                            </tr>
                        </thead>
                        <tbody class="font-weight-300">
                        {% for order in object_list %}
                            {% include 'orders/utils/_row_order.html' %}
                        {% empty %}
                            <tr>
                                <td class="text-center" id="not_orders" colspan="7">{% trans 'You have no orders yet' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'utils/_paginator.html' %}
                </div>
            </div>
            {% include 'orders/utils/_delete_order.html' %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#id_customer").change(function() {
                customer_id = $('#id_customer option:selected').val();
                if(customer_id){
                    url = "/api/v1/orders/";
                    $.ajax({
                        method: "GET",
                        url: url,
                        data: {
                            'customer': customer_id,
                        },
                        success: function (data) {
                            results = data.results;
                            if (results.length > 0) {
                                $("tbody").empty();
                                for (let i = 0; i < results.length; i++) {
                                    let products = results[i]['products'].split(',');
                                    product_list = [];
                                    if (products.length > 0) {
                                        for (let j=0; j< products.length; j++){
                                            opt = `<span class="badge badge-pill badge-secondary">${products[j]}</span>`;
                                            product_list.push(opt)
                                        }
                                    }else{
                                        opt = `<span class="badge badge-pill badge-secondary">The customer have no products yet</span>`;
                                        product_list.push(opt)
                                    }
                                    var res = `<tr id="customer-${results[i]['id']}">
                                        <td scope="row" class="align-middle text-gray-666 text-center"> ${results[i]['created_at']} </td>
                                        <td scope="row" class="align-middle text-gray-666 text-center"> ${i+1} </td>
                                        <td scope="row" class="align-middle text-center">
                                            <span class="font-weight-600 text-gray-666 ">
                                                <i class="fas fa-dollar-sign my-2 mr-2 text-blue"></i>
                                                ${results[i]['final_value']}
                                            </span>
                                        </td>
                                        <td scope="row" class="align-middle text-center"> ${results[i]['title']} </td>
                                        <td scope="row" class="align-middle"> ${product_list} </td> </tr>`
                                    $("tbody").append(res);
                                }
                            }else{
                                var res = `<tr > <td scope="row" class="text-center" colspan="7"> ${"The customer have no orders yet"} </td> </tr>`
                                $("tbody").html(res);
                            }
                        }
                    });
                }
            });
        });
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
{% endblock scripts %}

{% block fixed-bottom %}fixed-bottom{% endblock %}