{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
	{% if request.user.id == object.id %}
		{% trans 'My Profile' %} {{ object.get_full_name }}
	{% else %}
		{% trans 'profile of' %} {{ object.get_full_name }}
	{% endif %}
{% endblock %}

{% block styles %}
	{{ form.media.css }}
	{{ form.media.js }}
{% endblock %}

{% block content %}

	<div class="mt-4 px-5">
		{% if messages %}
			{% for message in messages %}
				<div class="text-center alert alert-success" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
	</div>

<div class=" mb-5">
		<form method="post" enctype="multipart/form-data" class="update-form">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			<div class="row mb-5">
				<div class="col-12">
					<div class="card shadow-sm p-5 no-border-radius">
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-sm-12 col-md-3 col-lg-3">
									<div class="avatar-wrapper my-auto img-avata-bg-big">
										<img class="profile-pic" src="{% if request.user.get_avatar %}{{ request.user.get_avatar }}{% else %}{% static '/images/user.jpg' %}{% endif %}"/>
										<div class="upload-button">
											<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
										</div>
										<input class="file-upload" type="file" accept="image/*" name="avatar"
										       id="id_avatar"/>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-9 col-lg-9">
									<h3 class="font-size-30 font-weight-normal text-orange">
										{{ form.instance.first_name }} {{ form.instance.last_name }}
									</h3>
									<p><i class="fa fa-envelope mr-2 text-orange"></i> {{ form.instance.email }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row equal">
				<div class="col-sm-12 col-md-6 col-lg-6 col-6">
					<div class="card shadow-sm p-5 no-border-radius flex-fill">
						<div class="card-body">
							<div class="row ">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
									<label class="text-gray-666 font-weight-bold" for="id_first_name">
										{{ form.first_name.label }}:
									</label>
									{{ form.first_name }}
									<div class="text-danger">
										{{ form.first_name.errors }}
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
									<label class="text-gray-666 font-weight-bold" for="id_last_name">
										{{ form.last_name.label }}:
									</label>
									{{ form.last_name }}
									<div class="text-danger">
										{{ form.last_name.errors }}
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<label class="text-gray-666 font-weight-bold" for="id_last_name">
										{{ form.gender.label }}:
									</label>
									{{ form.gender }}
									<div class="text-danger">
										{{ form.gender.errors }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-6 col-lg-6 col-6">
					<div class="card shadow-sm p-5 no-border-radius flex-fill">
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
									<label class="text-gray-666 font-weight-bold"
									       for="id_phone">{{ form.phone.label }}:</label>
									{{ form.phone }}
									<div class="text-danger">
										{{ form.phone.errors }}
									</div>
								</div>

								<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
									<label class="text-gray-666 font-weight-bold"
									       for="id_phone">{{ form.address.label }}:</label>
									{{ form.address }}
									<div class="text-danger">
										{{ form.address.errors }}
									</div>
								</div>

								<div class="col-12 col-sm-12 col-md-5 col-lg-5">
									<label class="text-gray-666 font-weight-bold"
									       for="id_country">{{ form.type_document.label }}: <small class="not-found"></small></label>
									{{ form.type_document }}
									<div class="text-danger">
										{{ form.type_document.errors }}
									</div>
								</div>

								<div class="col-12 col-sm-12 col-md-7 col-lg-7">
									<label class="text-gray-666 font-weight-bold"
									       for="id_country">{{ form.document_number.label }}: <small class="not-found"></small></label>
									{{ form.document_number }}
									<div class="text-danger">
										{{ form.document_number.errors }}
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col text-right">
					<button type="submit"
						class="btn btn-blue rounded text-uppercase font-weight-500 mt-4"
					    name="save_redirect" value="REDIRECT">
						{% trans "save" %}
						<i class="fa fa-save float-left mr-2 mt-1"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function () {

			var readURL = function (input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$('.profile-pic').attr('src', e.target.result);
					};
					reader.readAsDataURL(input.files[0]);
				}
			};

			$(".file-upload").on('change', function () {
				readURL(this);
			});

			$(".upload-button").on('click', function () {
				$(".file-upload").click();
			});
		});
	</script>
{% endblock %}