{% load i18n %}

{% if object %}
    {% trans 'delete product'|title as modal_title %}
    {% url 'products:product_delete' object.id as url_delete %}
{% endif %}

<form action="{{ url_delete }}" method="post">
    {% csrf_token %}
    <p>{% trans '¿Are you sure you want to delete' %} "{{ object }}"?</p>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'close'|title %}</button>
        <button type="submit" class="btn btn-danger" name="{% trans 'delete'|title %}">
            <i class="fas fa-trash-alt mr-2"></i> {{ modal_title }}
        </button>
    </div>
</form>