{% extends 'products/products_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Products' %}
{% endblock %}

{% block content %}
    {% url 'products:product_list' as url_list %}

    <div class="container-fluid mb-5">

        <div class="container-fluid border-top-1px-gray" style="margin-top: -1px;">
            {% include 'utils/_messages_list.html' %}
            <div class="row pt-5 pb-4">
                {% include 'utils/_search.html' with url_list=url_list %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-7 pr-0 text-left text-sm-right text-md-right text-lg-right">
                    <a class="btn btn-blue2 text-uppercase" title="{% trans 'add'|title %}" role="button"
                        onclick="CreateAndUpdateProduct('{% url "products:product_create" %}');"
                        href="javascript:void(0);"
                        data-toggle="modal" data-target=".bd-example-modal-lg">
                        {% trans "add"|title %}
                        <i class="fas fa-plus-circle float-left mr-2 mt-1"></i>
                    </a>
                </div>
                {% include 'products/utils/_create_product.html' %}
            </div>

            <div class="row bg-white" role="tabpanel">
                <div class="col-lg-12 table-responsive px-0">
                    <table class="table table-hover">
                        <thead>
                            <tr class="font-weight-500 text-gray-666 text-capitalize">
                                <th scope="col" class="align-middle border-top-0 border-left pr-0">{% trans '#' %}</th>
                                <th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'name'|title %}</div></th>
                                <th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'description'|title %}</div></th>
                                <th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'status'|title %}</div></th>
                                <th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'price'|title %}</div></th>
                                <th scope="col" class="align-middle border-top-0 pr-0 text-center"><div class="border-right">{% trans 'actions'|title %}</div></th>
                            </tr>
                        </thead>
                        <tbody class="font-weight-300">
                        {% for product in object_list %}
                            {% include 'products/utils/_row_product.html' %}
                        {% empty %}
                            <tr>
                                <td class="text-center" colspan="7">{% trans 'You have no products yet' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'utils/_paginator.html' %}
                </div>
            </div>
            {% include 'products/utils/_delete_product.html' %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function DeleteProduct(url) {
            $('.modal-body').load(url,function(){
                $('#deleteProduct').modal({show:true});
            });
        }
        function CreateAndUpdateProduct(url) {
            $('.modal-body').load(url,function(){
                $('#createProduct').modal({show:true});
            });
        }
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
{% endblock scripts %}

{% block fixed-bottom %}fixed-bottom{% endblock %}