{% load static %}
{% load i18n %}

<tr id="order_{{ order.id }}">
    <td scope="row" class="align-middle text-gray-666">
        {{ forloop.counter }}
    </td>
    <td class="align-middle">
        {{ order.title }}
    </td>
    <td class="align-middle">
        <span class="font-weight-600 text-gray-666">
            <i class="fas fa-user my-2 mr-2 text-blue"></i>
            {{ order.customer }}
        </span>
    </td>
    <td class="align-middle">
        <span class="font-weight-600 text-gray-666 ">
            <i class="fas fa-dollar-sign my-2 mr-2 text-blue"></i>
            {{ order.final_value|floatformat:0 }}
        </span>
    </td>
    <td class="align-middle">
        {% for order_item in order.get_products %}
        <span class="badge badge-pill badge-secondary">{{ order_item.product }}</span>
        {% endfor %}
    </td>
    <td class="align-middle text-center td-buttons">
        <a class="btn-edit-blue mr-1" title="{% trans 'detail'|title %}" role="button"
            onclick="CreateAndUpdateOrder('{% url "orders:order_detail_create" order.id %}');"
            href="javascript:void(0);"
            data-toggle="modal" data-target="#update_order">
            <i class="fas fa-info-circle"></i></a>
        <a class="btn-edit-blue mr-1" title="{% trans 'update'|title %}" role="button"
            onclick="CreateAndUpdateOrder('{% url "orders:order_update" order.id %}');"
            href="javascript:void(0);"
            data-toggle="modal" data-target="#update_order">
            <i class="fas fa-edit"></i></a>
        <a class="btn-trash-red mr-1" title="{% trans 'delete'|title %}" role="button"
            onclick="DeleteOrder('{% url "orders:order_delete" order.id %}');"
            href="javascript:void(0);"
            data-toggle="modal" data-target="#delete_customer">
            <i class="fa fa-trash"></i></a>
    </td>
</tr>