{% load static %}
{% load i18n %}

<tr id="product_{{ product.id }}">
    <td scope="row" class="align-middle text-gray-666">
        {{ forloop.counter }}
    </td>
    <td class="align-middle">
        {{ product.name }}
    </td>
    <td class="align-middle text-gray-666">
        {% if product.description %}
        {{ product.description }}
        {% else %}
        --
        {% endif %}
    </td>
    <td class="align-middle prod-state">
        {% if product.active %}
        <span class="font-weight-500 text-gray-666 ">
            <i class="fas fa-check-circle my-2 mr-2 text-green"></i> <mark><del>{% trans 'active'|title %}</del></mark>
        </span>
        {% else %}
        <span class="font-weight-400"><i class="fa fa-circle my-2 mr-2 text-red"></i> <em>{% trans 'inactive'|title %}</em></span>
        {% endif %}
    </td>
    <td class="align-middle prod-state">
        <span class="font-weight-600 text-gray-666 ">
            <i class="fas fa-dollar-sign my-2 mr-2 text-blue"></i>
            {{ product.price|floatformat:0 }}
        </span>
    </td>
    <td class="align-middle text-center td-buttons">
        <a class="btn-edit-blue mr-1" title="{% trans 'update'|title %}" role="button"
            onclick="CreateAndUpdateProduct('{% url "products:product_update" product.id %}');"
            href="javascript:void(0);"
            data-toggle="modal" data-target="#update_product">
            <i class="fas fa-edit"></i></a>
        <a class="btn-trash-red mr-1" title="{% trans 'delete'|title %}" role="button"
            onclick="DeleteProduct('{% url "products:product_delete" product.id %}');"
            href="javascript:void(0);"
            data-toggle="modal" data-target="#delete_product">
            <i class="fa fa-trash"></i></a>
    </td>
</tr>