{% load static %}
{% load i18n %}

<div class="row bg-white mx-0 border-bottom-4px-red-dark" id="main-navbar-container">
	<div class="container">
		<nav class="navbar navbar-expand-lg py-0" id="main-navbar">
			<a class="navbar-brand" href="/">
				<img class="img-fluid" src="{% static 'images/beitech-logo.png' %}" alt="{% trans 'Logo' %}" />
			</a>
			<button class="navbar-toggler font-size-28 p-0 pt-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fa fa-bars text-blue" aria-hidden="true"></i>
				</span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto float-lg-right">

				{% if request.user.is_authenticated %}
                    {% for opc in menu %}
						<a class="nav-link my-auto font-size-16 font-weight-400 mx-3 py-4 py-lg-3 {% if active == opc.name %}active{% endif %}" href="{{ opc.url }}">
                            <i class="{{ opc.icon }} mr-1"></i>
                            {{ opc.name|title }}
                        </a>
                    {% endfor %}

                    <a class="nav-link dropdown-toggle name-user mx-3 py-4 py-lg-3 {% if active == 'user' %}active{% endif %}" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="font-size-16 font-weight-400 mr-2"> {{request.user}}</span>
						{% if request.user.get_avatar %}
						<div class="img-user img-avatar img-avata-bg" style="height:40px; width: 40px; background: url({{request.user.avatar.url}});"></div>
						{% else %}
						<img src="https://www.library.caltech.edu/sites/default/files/styles/headshot/public/default_images/user.png?itok=1HlTtL2d" alt="user" class="rounded-circle position-absolute img-avatar" width="40">
						{% endif %}
					</a>

					<div class="dropdown-menu dropdown-menu-right">
                    {% for opc in menu_user %}
                        {% if opc.last %}
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item link-blue" href="{{ opc.url }}">
                            <i class="{{ opc.icon }} mt-2 mb-2"></i>
                            {{ opc.name|title }}
                        </a>
                    {% endfor %}
                    </div>

                {% else %}
                    {% for opc in menu_anonymous %}
                        <a class="nav-link font-size-18 link-blue" href="{{ opc.url }}">
							<i class="{{ opc.icon }} mr-2"></i>
                            {{ opc.name|title }}
						</a>
                    {% endfor %}
				{% endif %}
				</ul>
			</div>
		</nav>
	</div>
</div>