{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notification</title>
</head>
<body>
    <h3>{% trans "Welcome " %} {% if object.first_name or object.last_name %} {{ user.get_full_name }}!{% else %}{{ user.email_username }}{% endif %}</h3>
    <p>Now you can login to the Beitech platform.</p>
    {% if 'localhost' in domain %}
    <a href="http://{{ domain }}{% url 'accounts:login' %}">{% trans 'Go to the Beitech' %}</a>
    {% else %}
    <a href="https://{{ domain }}{% url 'accounts:login' %}">{% trans 'Go to the Beitech' %}</a>
    {% endif %}
</body>
</html>
