{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% load commons_utils %}
<form method="post" {% if action %}action="{{ action }}"{% endif %} class="{{ form_cls }}" {% if form_id %}id="{{ form_id }}"{% endif %}>

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}

        <div class="form-group {{ form_group_cls }}">
            <label class="text-uppercase font-size-14 text-gray-4C font-weight-bold font-family-proxima-nova" for="{{ field.name }}">
                {{ field.label }}
            </label>
            {{ field|add_class:'form-control' }}
            {{ field.errors }}
        </div>

    {% endfor %}
    <div class="col-12">
        <button class="btn btn-blue btn-lg"  {% if form_id %}name="{{ form_id }}"{% endif %} type="submit">{% if btn_text %}{{ btn_text }}{% else %}{% trans "Save" %}{% endif %}</button>
    </div>

</form>