    {% for message in messages %}
        <div class="text-center animated fadeInDown alert
            {% if message.tags %}
                {% if 'error' in message.tags %} alert-danger {% endif %}
                {% if 'success' in message.tags %}alert-success {% endif %}
                {% if 'info' in message.tags %}alert-warning{% endif %}
                {{ message.tags}}
            {% endif %}
            {% if message.extra_tags %}{{ message.extra_tags }}{% endif %}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}