<!-- paginador-->
{% load commons_utils %}
{% if is_paginated %}
    {% with request.get_full_path as querystring %}
    <nav class="mt-5" aria-label="Paginación">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% query_transform page=page_obj.previous_page_number %}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span>&laquo;</span></a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?{% query_transform page=i %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?{% query_transform page=page_obg.next_page_number%}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span>&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endwith %}
{% endif %}

<!--fin paginador-->