{% load i18n %}
				<div class=" col-12 col-sm-6 col-md-6 col-lg-5 pl-0 search-bar">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" class="form-control search-round" name="keyword" id="id_keyword" placeholder="{% trans 'search'|title %}" aria-label="{% trans 'search'|title %}" aria-describedby="button-search">
                            <div class="input-group-append">
                                <button class="btn btn-gray-EE" type="submit" id="button-search" data-toggle="tooltip" data-placement="bottom" title="{% trans 'search'|title %}">
                                    <i class="fa fa-search"></i>
                                </button>
                                <a href="{{ url_list }}" class="btn btn-gray-EE search-refresh" data-toggle="tooltip" data-placement="bottom" title="{% trans 'clean search'|title %}">
                                    <i class="fas fa-redo-alt"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>