{% load static %}
{% load i18n %}

{% if object %}
    {% trans 'update customer'|title as modal_title %}
    {% url 'customers:customer_update' object.id as url_view %}
{% else %}
    {% trans 'add customer'|title as modal_title %}
    {% url 'customers:customer_create' as url_view %}
{% endif %}

<form action="{{ url_view }}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-gray-666">{{ modal_title }}</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-5 pt-2 text-gray-666">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="text-gray-666 font-weight-bold col-12">{{ form.name.label }}</label>
                        <div class="col-12">
                            {{ form.name }}
                            <div class="text-danger">
                                {{ form.name.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="text-gray-666 font-weight-bold col-12">{{ form.email.label }}</label>
                        <div class="col-12">
                            {{ form.email }}
                            <div class="text-danger">
                                {{ form.email.errors }}
                            </div>
                        </div>
                    </div>
                    {% if object %}
                    <div class="form-group">
                        <label class="text-gray-666 font-weight-bold" for="id_company_type">{{ form.products.label }}:</label>
                        <div class="row mx-0">
                            {% for field in form.products %}
                                {{ field.choice_value }}
                                <div class="col-6 company_type font-size-12 ">
                                    <label for="{{ field.id_for_label }}">
                                        <input type="checkbox" name="{{ field.data.name }}" id="{{ field.id_for_label }}"
                                            value="{{ field.data.value }}" {% if field.data.selected %} checked{% endif %}
                                        >
                                        {{ field.data.label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-danger">
                            {{ form.products.errors }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 text-right my-2">
                <button type="button" class="btn btn-secondary text-uppercase mr-3" data-dismiss="modal">
                    {% trans 'cancel'|title %}
                    <i class="fa fa-chevron-left float-left mr-2 mt-1"></i>
                </button>
                <button class="btn btn-save-blue text-uppercase" type="submit"
                    name="{% if object %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}">
                    {% if object %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}
                    <i class="fa fa-save float-left mr-2 mt-1"></i>
                </button>
            </div>

        </div>
    </div>
</form>